div(ng-include='"components/navbar/navbar.html"')
.col-md-12
    | This is the translator view.
.col-md-6
    textarea#inputText.form-control(
        rows='5',
        ng-change='translate()',
        ng-model='sentenceToTranslate',
        ng-model-options='{ debounce: 200 }'
    )
.col-md-6
    | {{translations ? '' : 'Nothing to show here yet...'}}
    div
        b {{mainTranslation}} {{ruTranslation}}
    table(ng-repeat='category in translations')
        tbody
            tr
                td.partOfSPeech(colspan='3')
                    i {{category.name}}
            tr(ng-repeat='variant in category.variants', style='padding-left: 20px;')
                td.frequency(style='width: 27px;')

                td.translation(style='padding-right:15px;')
                    |{{variant.translation}}
                td.synonyms
                    span.synonym(ng-repeat='synonym in variant.synonyms') {{synonym}}{{$last ? '' : ', '}}
