div(ng-include='"components/navbar/navbar.html"')
.col-md-12
    button.btn.btn-primary(ng-click='update()', type='button') Update
.col-md-6
    div.stat(ng-repeat='stat in stats')
        a(ng-click='showDetails(stat.search)', href='#') {{stat.search}} {{stat.total}}
.col-md-6
    | {{translations ? '' : 'Nothing to show here yet...'}}
    div
        b {{mainTranslation}} {{ruTranslation}}
    table(ng-repeat='category in translations')
        tbody
            tr
                td.category(colspan='3')
                    i {{category.name}}
            tr(ng-repeat='variant in category.variants', style='padding-left: 20px;')
                td.frequency(style='width: 27px;')
                    div(style='width: {{(variant.frequency + 1) * 8}}px;')
                td.translation(style='padding-right:15px;')
                    | {{variant.translation}}
                td.synonyms
                    span(ng-repeat='synonym in variant.synonyms')
                        span.synonym {{synonym}}
                        | {{$last ? '' : ', '}}