div(ng-include='"components/navbar/navbar.html"')
.col-md-12
    button.btn.btn-primary(ng-click='update()', type='button') Update
.col-md-6
    div.stat(ng-repeat='stat in stats')
        a(ng-click='showDetails(stat.search)', href='#') {{stat.search}}
.col-md-6
    | {{translations ? '' : 'Nothing to show here yet...'}}
    table(ng-repeat='category in translations')
        tbody
            tr
                td.partOfSPeech(colspan='3')
                    i {{category.name}}
            tr(ng-repeat='variant in category.variants', style='padding-left: 20px;')
                td.frequency(style='width: 27px;')
                td.translation(style='padding-right:15px;')
                    | {{variant.translation}}
                td.synonyms
                    span.synonym(ng-repeat='synonym in variant.synonyms') {{synonym}}{{$last ? '' : ', '}}