div(ng-include='"components/navbar/navbar.html"')
.container
    .row
        .col-md-12
            button.btn.btn-primary(ng-click='update()', type='button') Update
        .col-md-6
            div.stat(ng-repeat='stat in stats')
                a(ng-click='showDetails(stat.search)', href='#') {{stat.search}} {{stat.total}}
        .col-md-6
            | {{languages ? '' : 'Nothing to show here yet...'}}
            div(ng-repeat='language in languages')
                div {{language.direction}}
                div
                    b {{language.self}}
                    | ->
                    b.mainTranslation(ui-sref='translator({search:language.mainTranslation})') {{language.mainTranslation}}
                table(ng-repeat='category in language.translations')
                    tbody
                        tr
                            td.category(colspan='3')
                                i {{category.name}}
                        tr(ng-repeat='variant in category.variants', style='padding-left: 20px;')
                            td.frequency(style='width: 27px;')
                                div(style='width: {{(variant.frequency + 1) * 8}}px;')
                            td.translation(style='padding-right:15px;', ui-sref='translator({search:variant.translation})')
                                | {{variant.translation}}
                            td.synonyms
                                span(ng-repeat='synonym in variant.synonyms')
                                    span.synonym(ui-sref='translator({search:synonym})') {{synonym}}
                                    | {{$last ? '' : ', '}}